<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE --><h1 style="margin: 0 auto;width: 12%;font-weight: bold;text-align: center;">Create New Post</h1>
       
        

        <form
                class="mt-8"
                [formGroup]="createPostForm">

                <!-- title field -->

                <mat-label >UserId:</mat-label>
                    <input id="h4" [formControlName]="'userId'" style="background-color:rgb(247, 180, 210);color: rgb(62, 81, 203);border-color: black;border-width: 1px;height: 52px;width: 320px;border-radius: 0.3em;text-align: center;align-items: center;display: flex;justify-content: center;"  id="userId" readonly>

                <!-- <mat-label >PostId:</mat-label>
                <input id="h4" [formControlName]="'id'" style="background-color:rgb(247, 180, 210);color: rgb(62, 81, 203);border-color: black;border-width: 1px;height: 52px;width: 320px;border-radius: 0.3em;text-align: center;align-items: center;display: flex;justify-content: center;"  id="id" readonly > -->



                <mat-form-field class="w-full">
                    <mat-label>Title</mat-label>
                    <input
                        id="title"
                        matInput
                        [formControlName]="'title'"
                        >
                        
                    
                </mat-form-field>

                <!--description field -->
                <mat-form-field class="w-full">
                    <mat-label>Description</mat-label>
                    <input
                        id="body"
                        matInput
                        [formControlName]="'body'"
                        
                        style="width: 100%">
                    
                </mat-form-field><br>


                

                <!-- Submit button -->
                <button style="background-color:rgb(173, 48, 173)"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    
                    [disabled]="createPostForm.disabled"
                    (click)="createPost()"
                    >
                    <span  *ngIf="!createPostForm.disabled">
                        Create
                    </span>
                    <mat-progress-spinner
                        *ngIf="createPostForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        
    </div>
    <div style="justify-content:center;align-items:center;display: flex ;flex-direction: column;" *ngFor="let post of posts"  class="h-100 min-h-100 max-h-100 w-200 border-2 border-dashed border-gray-300 rounded-2xl ">
            

      <mat-card class="example-card">
        <mat-card-subtitle>{{post.id}}</mat-card-subtitle>

        <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
        <mat-card-title>{{post.userId}}'s Post</mat-card-title>
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footer</p>
          <p>{{post.body}}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button style="padding-right: 1ch;">LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button *ngIf="username==post.userId" (click)="editPost(post.id)">EDIT</button>
        </mat-card-actions>
        <mat-card-footer>                </mat-card-footer>
      </mat-card>
    </div>

</div>
