<p>example-guest works!</p>

<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE --><h1 style="margin: 0 auto;width: 12%;">Guest mode</h1>
       
<div style="justify-content:center;align-items:center;display: flex ;flex-direction: column;" *ngFor="let post of posts"  class="h-100 min-h-100 max-h-100 w-200 border-2 border-dashed border-gray-300 rounded-2xl ">
            

    <mat-card class="example-card">
      <mat-card-subtitle>{{post.id}}</mat-card-subtitle>

      <mat-card-subtitle>{{post.title}}</mat-card-subtitle>
      <mat-card-title>{{post.userId}}</mat-card-title>
      <mat-card-content>
        <p>This card has divider and indeterminate progress as footer</p>
        <p>{{post.body}}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-button style="padding-right: 1ch;">LIKE</button>
        <button mat-button>SHARE</button>      </mat-card-actions>
      <mat-card-footer>                </mat-card-footer>
    </mat-card>
  </div>


</div>